target
.idea/workspace.xml
.idea/libraries
.idea/excludeFromValidation
*.iml
.flattened-pom.xml
TEST_ITPlatformApp
# Maven:
.effective-pom.xml
.dependency-tree.txt
.foreach-deps.txt
pom.xml.versionsBackup
versions.properties

# Emacs:
*~
